worker_processes  1;
daemon off;
error_log  logs/error.log;


events {
	worker_connections  1024;
}


http {
	include       mime.types;
	default_type  application/octet-stream;
	server_names_hash_bucket_size  128;

	log_format  main  '$host - $remote_addr - $remote_user [$time_local] "$request" '
	'$status $body_bytes_sent "$http_referer" '
	'"$http_user_agent" "$http_x_forwarded_for"';

	access_log  logs/access.log  main;

	sendfile        on;

	keepalive_timeout  120;
	proxy_connect_timeout 75;

	server {
		client_max_body_size 0;
		listen       80;
		server_name  digipat-frontend;

		root /tmp/dist;
		index index.html;
	}
}
