@import "~bulma/sass/utilities/_all";

$primary: #61b2e8;
$primary-invert: findColorInvert($primary);
$dark-primary: #2778ad;
$dark-primary-invert: findColorInvert($dark-primary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$custom_colors: (
    "primary": ($primary, $primary-invert),
    "dark-primary": ($dark-primary, $dark-primary-invert)
);

$colors: mergeColorMaps($colors, $custom_colors);
