@import './bulma.scss';
@import './v-tooltip.scss';
@import './vue-sl-tree.scss';

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

@import '~@fortawesome/fontawesome-free/css/all.min.css';

@import '~npm-font-open-sans/open-sans.css';
