.v-popover {
  display: inline-block;
}

.v-popover .trigger {
  outline: 0;
}

.tooltip::after {
  display: none;
}

.tooltip .wrapper {
  display: block;
  background: none;
}

.tooltip {
  display: block !important;
  z-index: 1000;
}

.tooltip:not(.popover) {
  pointer-events: none; /* tooltip may overlap target element, leading to flickering if pointer-events not set to none */
}

.tooltip .tooltip-inner {
  background: white;
  border-radius: 20px;
  padding: 0.5rem 1rem 0.4rem;
  box-shadow: 0 0 3px hsla(0,0%,4%,.1),0 0 0 1px hsla(0,0%,4%,.1);
  border-radius: 5px;
  font-size: 0.85rem;
  max-width: 50vw; /* TODO: special design for mobile ; modal? */
  max-height: 80vh;
  overflow: auto;
}

.popover .popover-inner {
  min-width: 50px;
  min-height: 2rem;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: hsla(0,0%,4%,.25);
  z-index: 1;
  border-width: 8px;
}

.tooltip .tooltip-arrow::after {
  border-width: 7px;
  border-style: solid;
  content: "";
  position: absolute;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 8px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -16px;
  left: calc(50% - 8px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="top"] .tooltip-arrow::after {
  border-color: white transparent transparent transparent;
  left:-7px;
  bottom: -6px;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 8px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -16px;
  left: calc(50% - 8px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow::after {
  border-color: transparent transparent white transparent;
  left:-7px;
  top: -6px;
}

.tooltip[x-placement^="right"] {
  margin-left: 8px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -16px;
  top: calc(50% - 8px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="right"] .tooltip-arrow::after {
  border-color: transparent white transparent transparent;
  bottom:-7px;
  left: -6px;
}

.tooltip[x-placement^="left"] {
  margin-right: 8px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -16px;
  top: calc(50% - 8px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] .tooltip-arrow::after {
  border-color: transparent transparent transparent white;
  bottom:-7px;
  right: -6px;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}
